In [39]:
import detector
import pandas as pd

In [40]:
d = detector.Detector()

In [41]:
names = d.return_all_names()

In [73]:
n = []
g = []
h = []
for k, v in names.items():
    n.append(k.lower())
    g.append(sorted([i for i in v.keys()]))
    h.append(' '.join(sorted([i for i in v.keys()])))

In [74]:
name_cols = {'name': n, 'gender': g, 'gender_joined': h}
df = pd.DataFrame(name_cols)

In [75]:
def matcher(row, term):
    if term in row:
        return 1
    else:
        return 0

for i in ['andy', 'female', 'male', 'most_female', 'mostly_male']:
    df[i] = df.apply(lambda row: matcher(row['gender'], i), axis=1)

In [76]:
df['gender_joined'].unique()

array(['male', 'female', 'mostly_female', 'andy female', 'mostly_male',
       'female mostly_male', 'andy', 'andy female male',
       'male mostly_male', 'female male', 'female mostly_female',
       'andy mostly_female', 'andy male mostly_male',
       'male mostly_female', 'female male mostly_female mostly_male',
       'mostly_female mostly_male', 'andy female mostly_female',
       'female male mostly_female', 'andy female male mostly_female',
       'andy male', 'male mostly_female mostly_male',
       'female male mostly_male', 'andy mostly_male',
       'andy female male mostly_female mostly_male',
       'andy mostly_female mostly_male',
       'female mostly_female mostly_male', 'andy female male mostly_male',
       'andy female mostly_male', 'andy male mostly_female mostly_male',
       'andy male mostly_female'], dtype=object)

In [68]:
df

,name,gender,andy,female,male,most_female,mostly_male
0,aad,[male],0,0,1,0,0
1,aadam,[male],0,0,1,0,0
2,aadje,[female],0,1,0,0,0
3,ådne,[male],0,0,1,0,0
4,aadu,[male],0,0,1,0,0
5,aaf,[mostly_female],0,0,0,0,0
6,aafke,"[andy, female]",1,1,0,0,0
7,aafkea,[female],0,1,0,0,0
8,aafko,[male],0,0,1,0,0
9,aage,[male],0,0,1,0,0
10,åge,[male],0,0,1,0,0
11,aagje,[female],0,1,0,0,0
12,aagot,[female],0,1,0,0,0
13,ågot,[female],0,1,0,0,0
14,aagoth,[female],0,1,0,0,0
15,ågoth,[female],0,1,0,0,0
16,åke,[male],0,0,1,0,0
17,aalbert,[male],0,0,1,0,0
18,aalderich,[male],0,0,1,0,0
19,aalderk,[male],0,0,1,0,0
20,aaldrik,[male],0,0,1,0,0
21,aale,[male],0,0,1,0,0
22,aaliyah,[female],0,1,0,0,0
23,aalke,[female],0,1,0,0,0
24,aalt,[male],0,0,1,0,0
25,aaltien,[female],0,1,0,0,0
26,aaltinus,[male],0,0,1,0,0
27,aaltje,[female],0,1,0,0,0
28,aaltsje,[female],0,1,0,0,0
29,aamir,[male],0,0,1,0,0
...,...,...,...,...,...,...,...
61375,zwaanhilde,[female],0,1,0,0,0
61376,zwaantje,[female],0,1,0,0,0
61377,zwanette,[female],0,1,0,0,0
61378,zwantien,[female],0,1,0,0,0
61379,zwantje,[female],0,1,0,0,0
61380,zweer,[male],0,0,1,0,0
61381,zyber,[male],0,0,1,0,0
61382,zydi,[male],0,0,1,0,0
61383,žydrė,[female],0,1,0,0,0
61384,žydronė,[female],0,1,0,0,0
61385,žydrūnas,[male],0,0,1,0,0
61386,žygantas,[male],0,0,1,0,0
61387,zygfryd,[male],0,0,1,0,0
61388,žygimantas,[male],0,0,1,0,0
61389,žygintas,[male],0,0,1,0,0
61390,zygmunt,[male],0,0,1,0,0
61391,zyhdi,[male],0,0,1,0,0
61392,zyhra,[female],0,1,0,0,0
61393,zyhrie,[female],0,1,0,0,0
61394,zylfie,[female],0,1,0,0,0
61395,zylfije,[female],0,1,0,0,0
61396,zymbyle,[female],0,1,0,0,0
61397,zymer,[male],0,0,1,0,0
61398,zymryd,[female],0,1,0,0,0
61399,zymryte,[female],0,1,0,0,0
61400,zyra,[female],0,1,0,0,0
61401,zyrafete,[female],0,1,0,0,0
61402,zyrie,[female],0,1,0,0,0
61403,zyrjeta,[female],0,1,0,0,0
61404,zyta,[female],0,1,0,0,0

In [78]:
df.groupby('gender_joined').size()

gender_joined
andy                                          22035
andy female                                      76
andy female male                                 13
andy female male mostly_female                    3
andy female male mostly_female mostly_male        4
andy female male mostly_male                      4
andy female mostly_female                        14
andy female mostly_male                           2
andy male                                       121
andy male mostly_female                           3
andy male mostly_female mostly_male               4
andy male mostly_male                            26
andy mostly_female                               31
andy mostly_female mostly_male                    8
andy mostly_male                                 52
female                                        18158
female male                                     225
female male mostly_female                        15
female male mostly_female mostly_male             7
female male mostly_male                          15
female mostly_female                            117
female mostly_female mostly_male                  6
female mostly_male                               32
male                                          19122
male mostly_female                               41
male mostly_female mostly_male                   14
male mostly_male                                106
mostly_female                                   468
mostly_female mostly_male                        20
mostly_male                                     663
dtype: int64